all:
  children:
    app_servers:
      hosts:
        app01:
          ansible_host: "app-01.devhouse.systems"

  vars:
    ansible_python_interpreter: "/usr/bin/python3"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/ssh_key"