# deploy_app.yaml

# playbook file to hold plays for deploying the app

# --------------------------------------------------------------------------- #
- name: "deploy app"
  hosts: all
  gather_facts: true

  vars: 
    app_version: 2

  roles:
    - name: "deploy_app"
      become: true
#EOF